# Create a list of the Data Directories for each folder

In [17]:
import path
import os
import glob
import pandas as pd

pd.set_option('max_colwidth', -1)

In [12]:
# PATHS
SAGEMAKER_REPO_PATH = r'/home/ec2-user/SageMaker/classify-streetview/'

# Data
data_model5_path = os.path.join(SAGEMAKER_REPO_PATH, 'images-cross-null')
data_model6_path = os.path.join(SAGEMAKER_REPO_PATH, 'images-missing-present-2split')
data_project_sidewalk_path = os.path.join(SAGEMAKER_REPO_PATH, 'images-eval-project-sidewalk')

# Write out Data to TXT files

In [13]:
list_filename = []
for filename in glob.iglob(str(data_project_sidewalk_path) + '**/**/*.jpg', recursive=True):
     list_filename.append(filename)
print(len(list_filename))

images_list_path = os.path.join(data_model6_path, 'images_list.txt')
with open(images_list_path, 'w') as out_file:
    for filename in list_filename:
        out_file.write(f'{filename}\n')

3312

In [32]:
df_list = pd.DataFrame({'filenames' : list_filename})
df_list.head()

                                                                                             filenames
0  /home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/2_present/4550_225_D.jpg
1  /home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/2_present/17033_225_E.jpg
2  /home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/2_present/18150_225_E.jpg
3  /home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/2_present/18256_135_B.jpg
4  /home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/2_present/8650_315_F.jpg

In [33]:
df_list_cols = df_list['filenames'].str.split('/', expand = True)
df_list_cols.head()

,0,1,2,3,4,5,6,7
0,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,4550_225_D.jpg
1,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,17033_225_E.jpg
2,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,18150_225_E.jpg
3,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,18256_135_B.jpg
4,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,8650_315_F.jpg

In [34]:
df_list_cols.columns = ['empty_col', 'home', 'ec2-user', 'SageMaker', 'repo', 'image-dir', 'ground_truth', 'jpg_name']
df_list_cols.head()

,empty_col,home,ec2-user,SageMaker,repo,image-dir,ground_truth,jpg_name
0,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,4550_225_D.jpg
1,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,17033_225_E.jpg
2,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,18150_225_E.jpg
3,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,18256_135_B.jpg
4,,home,ec2-user,SageMaker,classify-streetview,images-eval-project-sidewalk,2_present,8650_315_F.jpg

In [35]:
new_cols = ['ground_truth', 'jpg_name']
df_list[new_cols] = df_list_cols[new_cols]
df_list = df_list.sort_values(['filenames'])
df_list.head()

,filenames,ground_truth,jpg_name
681,/home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/0_missing/12251_135_E.jpg,0_missing,12251_135_E.jpg
687,/home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/0_missing/12251_135_F.jpg,0_missing,12251_135_F.jpg
673,/home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/0_missing/12270_135_D.jpg,0_missing,12270_135_D.jpg
666,/home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/0_missing/1297_135_A.jpg,0_missing,1297_135_A.jpg
669,/home/ec2-user/SageMaker/classify-streetview/images-eval-project-sidewalk/0_missing/16125_45_E.jpg,0_missing,16125_45_E.jpg

In [36]:
df_list.to_csv('projectsidewalks-crops-class-path.csv', index = False)

In [23]:
df_list.shape

(3312, 3)

In [ ]:
def

In [6]:
list_filename = []
for filename in glob.iglob(str(data_model5_path) + '**/**/*.jpg', recursive=True):
     list_filename.append(filename)
print(len(list_filename))

images_list_path = os.path.join(data_model5_path , 'images_list.txt')
with open(images_list_path, 'w') as out_file:
    for filename in list_filename:
        out_file.write(f'{filename}\n')

5484

In [7]:
list_filename = []
for filename in glob.iglob(str(data_model6_path) + '**/**/*.jpg', recursive=True):
     list_filename.append(filename)
print(len(list_filename))

images_list_path = os.path.join(data_model6_path, 'images_list.txt')
with open(images_list_path, 'w') as out_file:
    for filename in list_filename:
        out_file.write(f'{filename}\n')

924